# Database connection details - Copy from .env.local on the Vercel dashboard
# For more information, visit: https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database

# PostgreSQL connection URL
POSTGRES_URL=

# Prisma connection URL for PostgreSQL
POSTGRES_PRISMA_URL=

# PostgreSQL connection URL without connection pooling
POSTGRES_URL_NON_POOLING=

# PostgreSQL username
POSTGRES_USER=

# PostgreSQL host
POSTGRES_HOST=

# PostgreSQL password
POSTGRES_PASSWORD=

# PostgreSQL database name
POSTGRES_DATABASE=

# Secret key for authentication (generated using `openssl rand -base64 32`)
AUTH_SECRET=

# Authentication URL for local development
AUTH_URL=http://localhost:3000/api/auth